.app_dark_theme {
    --bg-color: #2f2f77;
    --inverted-bg-color: #f6f6f6;
    --primary-color: #049604;
    --secondary-color: #09e709;
    --inverted-primary-color: #010164;
    --inverted-secondary-color: #3030ee;
}
