.app_light_theme {
    --bg-color: #f6f6f6;
    --inverted-bg-color: #8f8fce;
    --primary-color: #2d2dfd;
    --secondary-color: #3030ee;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #09e709;
}
